<footer class="footer">
  <div class="container">
    <p class="text-muted">Code licensed <a href="https://opensource.org/licenses/MIT">MIT</a>.</p><p class="smallprint"> * Absolutely no promises are made that this is not a rip off from Just Task It! Any and all similarities <em>may</em> be mearly coincidental. By using this application you acknowledge that you do so as-is and <strong><em>without any warranties what so ever.</em></strong></p>
  </div>
</footer>