<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>DayTrader</title>
  <base href="<%= baseURL %>" />
  <link rel="stylesheet" href="./css/styles.css" />
  <link rel="icon" href="favicon.ico">
  <script type="module" src="./client/clientsideApplication.js"></script>
</head>

<body>
    <%- include('../partials/header') %>
    <main role="main" class="container">
      <%- body %>
    </main>
    <%- include('../partials/footer') %>

</body>
</html>